{{#if errors.length}}
  {{#each errors}}
    <div class="message">
      <p>{{msg}}</p>
      <button type="button" class="close">X</button>
    </div>
  {{/each}}
{{/if}}

{{#if success_msg}}
  <div class="message success">
    <p>{{success_msg}}</p>
    <button type="button" class="close">X</button>
  </div>
{{/if}}

{{#if error_msg}}
  <div class="message error">
    <p>{{error_msg}}</p>
    <button type="button" class="close">X</button>
  </div>
{{/if}}

{{#if error}}
  <div class="message error">
    <p>{{error}}</p>
    <button type="button" class="close">X</button>
  </div>
{{/if}}