<div class="card">
  <div class="logo"><i class="fas fa-skiing-nordic"></i></div>
  <p>Create an account or login</p>
  <div class="actions">
    <a href="/users/register" class="btn register">Register</a>
    <a href="/users/login" class="btn login">Login</a>
  </div>
</div>