/* Resets */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* General Styling */

body {
  margin: 0;
  font-family: "Spline Sans", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 0.5em 0;
  border-radius: 5px;
}

.card p {
  font-weight: 300;
}

/* Buttons */

.actions {
  color: #fff;
}

.register {
  background-color: #eb6865;
  margin-bottom: 0.8em;
}

.login {
  background-color: #a9a9a9;
}

.close {
  border: none;
  background-color: transparent;
  width: auto;
  margin-right: 0.5em;
}

/*  Layout  */

.card {
  width: 500px;
  margin: 3em auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  padding: 1.5em;
}

button {
  cursor: pointer;
  width: 100%;
  display: block;
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  color: inherit;
  padding: 0.5em 0;
  border-radius: 5px;
}

/* Welcome Page */

.logo i {
  font-size: 4.5rem;
  color: cornflowerblue;
}

/* Register / Login */

.card input {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1.3em;
  font-size: 0.9rem;
}

.card .form-label {
  display: block;
  text-align: left;
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 0.3em;
}

.form-paragraph a {
  color: #eb6865;
}

.dashboard-card {
  margin-top: 5em;
}

.logout-btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  background-color: lightgrey;
  color: #fff;
}

.message {
  display: flex;
  justify-content: space-between;
  background-color: #fefad3;
  padding: 0.3em;
  text-align: left;
  margin-bottom: 20px;
  color: #8e8558;
}

.message p {
  margin-left: 0.5em;
}

.success {
  background-color: forestgreen;
  color: #fff;
}
